/* ALL */
.container {
    padding: 0 0;
}

.bi:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.5;
}

.blockquote h2 {
    padding: 8%;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    color: black;
    opacity: 0.4;
}

/* ************************************************************** */
/* *********                   HEADER                  ********** */
/* ************************************************************** */
.navbar {
    width: 100%;
    position: fixed;
    z-index: 3;
}

/* ************************************************************** */
/* *********                  EYECATCH                 ********** */
/* ************************************************************** */
#eyechatch img{
    width: 100%;
    max-width: 1920px;
    height: 900px;
    object-fit: cover;
    display: block;
    transition: all 1s;
}

#eyechatch h1{
    position: absolute;
    top: 55%;
    left: 50%;
    color: mintcream;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

@media screen and (max-width: 700px) {
    #eyechatch img{
        padding-top: 5%;
        height: 300px;
    }
    
    #eyechatch h1{
        top: 25%;
        left: 40%;
        font-size: 20px;
    }
}

/* ************************************************************** */
/* *********                  PRODUCTS                 ********** */
/* ************************************************************** */
#products .carousel-indicators {
    background-color: gray;
    opacity: 0.2;
    z-index: 2;
}

/* ************************************************************** */
/* *********                    ABOUT                  ********** */
/* ************************************************************** */
#about .yoshiko-hasegawa {
    width: 400px;
}

@media screen and (max-width: 700px) {
    #about .yoshiko-hasegawa {
        width: 150px;
    }
}

/* ************************************************************** */
/* *********                   ACCESS                  ********** */
/* ************************************************************** */
#access .google-map {
    width: 100%;
    height: 400px;
}

/* ************************************************************** */
/* *********                    NEWS                   ********** */
/* ************************************************************** */
#news {
    padding-bottom: 5%;
}

#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
    height: 60px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
    height: 60px;
}

@media screen and (max-width: 700px) {
    #news dl {
        flex-direction: column;
    }
    
    #news dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }
    
    #news dd {
        width: 100%;
        padding-top: 0;
    }
}
