<h3>住所</h3>
<p>〒950-0917</p>
<p>新潟県新潟市中央区天神2丁目2-1カナンパレス天神</p>
<br>
<h3>営業時間</h3>
<p>AM9:30~PM6:00</p>
<br>
<h3>定休日</h3>
<p>月曜日、第一火曜日</p>
<p>臨時休業の場合もございます。</p>
<p>お気軽にお問い合わせくださいませ。</p>
<br>
<h3>TEL</h3>
<a href="tel:080-5178-7207">080-5178-7207</a>
<h3 class="mt-20">SNS</h3>
<div class="flex-container">
    <a href="https://www.instagram.com/hair_station_mika/"><img src="assets/img/icon/instagram-logo.png" alt="" class="instagram-logo"></a>
    <a href="https://www.youtube.com/@user-mr1gm4hk1i"><img src="assets/img/icon/yt_logo_rgb_light.png" alt="" class="youtube-logo"></a>
</div>
<p class="mt-20">&copy; 株式会社Mikaコーポレーション</p>
<img src="assets/img/icon/hair-station-mika-logo.png" alt="" class="footer-img">