<ul>
<li><a href="/">ホーム</a></li>
<li><a href="/staff">スタッフ</a></li>
<li><a href="/fee">料金</a></li>
<li><a href="/product">商品</a></li>
<li><a href="/access">アクセス</a></li>
<li><a href="/contact">ご予約・お問い合わせ</a></li>
</ul>