<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('_head.ejs')%>
    <style>
        header {
            height: 600px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <a href="/"><img class="overlay-img" src="assets/img/icon/hair-station-mika-logo.png" alt=""></a>

    <header>
        <div class="navbar">
            <%- include('_navbar.ejs')%>
        </div>
    </header>
    
    <div class="container">
        <h5>ご予約・お問い合わせ</h5>
        <br>
        <p>ご予約や商品に関する質問等は下記の電話番号よりお気軽にお問い合わせください。</p>
        <br>
        <h5>TEL</h5>
        <a href="tel:080-5178-7207">080-5178-7207</a>
    </div>

    <footer>
        <%- include('_footer.ejs')%>
    </footer>
</body>
</html>