<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('_head.ejs')%>
    <link rel="stylesheet" href="contact-style.css">
</head>
<body>
    <a href="/"><img class="overlay-img" src="assets/img/icon/hair-station-mika-logo.png" alt=""></a>
    
    <header>
        <div class="navbar">
            <%- include('_navbar.ejs')%>
        </div>
    </header>
    
    <div class="container">
        <h5>長谷川 芳子</h5>
        <img src="assets/img/store/hasegawa.png" alt="">
        <br>
        <p style="font-size: 1.2rem;">「沢山の方の笑顔の花を咲かせ</p>
        <p style="font-size: 1.2rem;">　いつでも立ち寄れる場所へ」</p>
        <br>
        <p>お客様には美容の面からだけでなく、アロマの面からも美しさをご提供させていただきます。</p>
        <br>
        <h5>スキル</h5>
        <p>美容師</p>
        <p>心身アロマ気功師</p>
        <p>フットセラピスト</p>
        <p>アロマセラピスト認定講師</p>
    </div>
    <footer>
        <%- include('_footer.ejs')%>
    </footer>
</body>
</html>