table {
    border-collapse: collapse;
    font-size: 0.8rem;
    margin: 10px 0;
    width: 90%;
    left: 0;
}

td {
    padding: 3px auto;
    text-align: center;
}

hr {
    margin: 50px 0;
    border-color: #e6e6e6;
    text-align: center;
    width: 80%;
}

.td-l {
    text-align: left;
}

.container {
    position: absolute;
    top: 80px;
    right: 0;
    width: 80%;
}