@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kaisei+Opti:wght@700&family=Yuji+Syuku&display=swap');

html {
    font-size: 100%; /* 16px is default size. */
    font-family: "Poppins", sans-serif;
}

body {
    color: #24292e;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.site-title {
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}

.site-title a {
    color: #24292e;
    display: block;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 180px auto;
    font-size: 0.9rem;
    padding: 0 4%;
    margin-top: -100px;
    padding-top: 100px;
    margin-bottom: 300px;
}

.container {
    display: flex;
}

.left-column{
    text-align: center;
    padding: 4%;
}

.right-column{
    text-align: center;
    padding: 4%;

}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 35px;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
    flex-wrap: wrap;
}

#header ul li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

#header ul li a:hover {
    opacity: 0.5;
}

#header li img.icon {
    width: 30px;
}

/* Main */
#main {
    margin-bottom: 130px;
}

#main {
    background-color: #000;
    position: relative;
}

#main img {
    width: 100%;
    max-width: 1920px;
    height: 900px;
    object-fit: cover;
    opacity: 0.5;
    display: block;
    transition: all 1s;
}

#main img:hover{
    opacity: 1;
}

#main h1 {
    position: absolute;
    top: 55%;
    left: 40%;
    color: #ffffff;
    column-width: 20%;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

/* About */
#about {
    height: 400px;
}

#about .left-column {
    max-width: 300px;
}

#about .right-column {
    padding-top: 20%;
}

#about .right-column li {
    margin-bottom: 10px;
}

#about img {
    transition: all 0.3s;
}

#about img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
}

/* Works */
#works iframe {
    text-align: center;
    transition: all 0.3s;
}

#works iframe:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
}

#works .left-column {
    padding-top: 20%;
}

#works .right-column iframe {
    width: 300px;
    height: 320px;
}

#works .left-column li {
    margin-bottom: 10px;
}

#works img {
    width: 300px;
    transition: all 0.3s;
}

#works img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
    margin-bottom: 10px;
}

#beautician {
    padding-top: 25%;
    padding-left: 100px;
}

#beautician li {
    padding-top: 10px;
}

/* Access */
#access .left-column iframe {
    width: 400px;
    height: 300px;
    transition: all 0.3s;
}

#access .left-column iframe:hover {
    transform: scale(1.2, 1.2);
}

#access .right-column img {
    width: 600px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

#access .right-column img:hover {
    width: 600px;
    margin-bottom: 10px;
    transform: scale(1.2, 1.2);
    opacity: 0.7;
}

#access .right-column li {
    margin-top: 10px;
}

/* News */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

/* Contact */
#contact p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom: 10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input, 
#contact dd textarea{
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid #24202e; 
    width: 200px;
    padding: 15px 0; 
    background-color: #24292e;
    color: #fff;
    transition: all 0.3s;
}

#contact .button input:hover {
    background-color: #fff;
    color: #24292e;
}

/* Footer */
#footer {
    display: flex;
    margin-top: 130px;
    background-color: #000;
    color: #fff;
    justify-content: center;
    padding: 10% 5%;

}

#footer img {
    width: 20%;
    text-align: center;
}

#footer .footer-left li {
    width: 40%;
    text-align: left;
    color: #c8c8c85a;
    margin-top: 15px;
}

#footer .footer-right {
    width: 150%;
}

#footer .footer-right li {
    width: 100%;
    text-align: left;
    color: #c8c8c85a;
}

#footer .footer-right li{
    color: #fff;
}

#footer .footer-right dl{
    color: #c8c8c85a;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#footer .footer-right dt{
    width: 20%;
    margin-top: 10px;
}

#footer .footer-right dd{
    width: 80%;
    margin-top: 10px;
}