/* 共通 */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
    transition: 0.2s;
}

#follower {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    z-index: -10;
    transition: left 0.2s ease, top 0.2s ease;
}

h5 {
    border-left: solid 5px #4d4d4d;
    padding-left: 10px;
    margin-bottom: 10px;
}


/* ヘッダー */
header {
    height: 700px;
}

.overlay-img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 300px;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    opacity: 0.7;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 0;
    width: 600px;
    transform: rotate(90deg);
    transform-origin: bottom left;
    padding-bottom: 15px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: block;
    padding: 10px;
}


/* コンテンツ */
.fade-in-container {
    opacity: 0;
    position: relative;
    bottom: -40px;
    height: 250px;
    transition: bottom 2s ease, opacity 2s ease;
    margin-bottom: 50px;
}

.left-img {
    position: absolute;
    top: 0;
    left: 10px;
    width: 150px;
}

.right-img {
    position: absolute;
    top: 0;
    right: 10px;
    width: 150px;
}

.gmap {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 125px;
}

.bg-container {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff5f5;
    width: 100%;
    height: 170px;
}

.right-container {
    position: absolute;
    top: 30px;
    left: 180px;
    padding: 5px;
}

.left-container {
    position: absolute;
    top: 30px;
    right: 180px;
    padding: 5px;
}

.left-container p,
.right-container p {
    font-weight: bold;
    font-size: 0.5rem;
}

.show {
    bottom: 0px;
    opacity: 1;
}

.title {
    font-size: 20;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    width: 180px;
    height: 25px;
    border: 1px solid black;
    background-color: #fff5f5;
}

button:hover {
    border: 1px solid #ffffff;
    background-color: #4d4d4d;
    color: #ffffff;
    transition: 0.2s;
}

footer {
    padding: 10px;
    font-size: 0.8rem;
    height: 500px !important;
}

.footer-img {
    width: 200px;
}

.flex-container {
    display: flex;
}

.instagram-logo {
    height: 30px;
}

.youtube-logo {
    margin: 5px;
    height: 20px;
    margin-left: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.comment {
    margin: 100px 15px;
    font-size: 0.8rem;
    height: auto;
}

.container {
    position: absolute;
    top: 80px;
    right: 0;
    width: 80%;
    font-size: 0.8rem;
}

.container p{
    margin-right: 15px;
}
